<% provide(:title, '一覧') %>
<% if params[:name].present? %>
<h1>検索結果</h1>
<% else %>
<h1>ユーザ一覧</h1>
<% end %>
<div>
  <%= form_tag import_users_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "インポート" %>
<% end %>
</div><!-- ここまで -->
</div><!-- nav-left -->
    <div id="nav-search">
      <p id="nameserch">ユーザー名検索</p>
        <%= form_tag(users_path, method: "get") do %>
            <div class="input-group">
                <%= text_field_tag :name, params[:name], placeholder: "ユーザー名を入力してください", class: "form-control" %>
                <span class="input-group-btn">
                    <%= button_tag "検索", :name => nil, class: "btn btn-primary" %>
                </span>
            </div>
        <% end %>
</div><!-- nav-search -->
<%= will_paginate %>
<ul class="users">
  <%= render @users %>
</ul>

<%= will_paginate %>