<% provide(:title, '一覧') %>
<% if params[:name].present? %>
<h1>検索結果</h1>
<% else %>
<h1>ユーザ一覧</h1>
<% end %>
<div><!-- csvについてのコード未完成 -->
  <%= form_tag signup_path, method: :get, multipart: true do |f| %>
    <div class="search_item">
      <%= text_field_tag 'filename',"", id: "filename", disabled: true %>
      <%= file_field_tag 'emails_file', id: "file_input", style: "display: none;", onchange: "file_selected($(this));" %>
      <%= button_tag 'ファイル選択', class: %i(btn-primary csv_input_btn), type: 'button', onclick: "$('#file_input').click();" %>
    </div>
    <div>
      <button type="submit" class="btn btn-primary">CSVインポート</button>
    </div>
  <% end %>
</div><!-- ここまで -->
</div><!-- nav-left -->
    <div id="nav-search">
      <p id="nameserch">ユーザー名検索</p>
        <%= form_tag(users_path, method: "get") do %>
            <div class="input-group">
                <%= text_field_tag :name, params[:name], placeholder: "ユーザー名を入力してください", class: "form-control" %>
                <span class="input-group-btn">
                    <%= button_tag "検索", :name => nil, class: "btn btn-primary" %>
                </span>
            </div>
        <% end %>
</div><!-- nav-search -->
<%= will_paginate %>
<ul class="users">
  <%= render @users %>
</ul>

<%= will_paginate %>