<% require 'rounding' %>
<% provide(:title, '勤怠表示') %>
<div>
  <table class="table-bordered table-condensed">
    <tr>
      <td><%= link_to "←", user_path(params: {id: @user.id, first_day: @first_day.prev_month }),
                         class: "btn btn-xs btn-primary" %>
        &emsp;<%= @first_day.to_s(:year_month) %>　時間管理表&emsp;
        <%= link_to "→", user_path(params: {id: @user.id, first_day: @first_day.next_month }),
                         class: "btn btn-xs btn-primary" %></td>
      <td>指定勤務開始時間: <%= format_basic_time(@user.designated_work_start_time) %> <!-- 今後変数で指定する OK --><br>
      指定勤務終了時間:<%= format_basic_time(@user.designated_work_end_time) %><!-- 指定勤務開始時に今後指定勤務時間を足した( +1時間休憩を足した数字にする -->
      </td>
      
      <td colspan = "3">基本時間: <%= format_basic_time(@user.basic_work_time) %></td>
      <td>月の初日<%= @first_day.to_s(:date) %></td>
    </tr>

    <tr>
      <td>所属:<%= if @user.affiliation.present?
                      @user.affiliation
                      else
                      '未所属'
                      end %></td>
      <td>氏名：<%= @user.name %></td>
      <td>コード</td>
      <td></td>
      <td>出勤日数: <%= @worked_sum %></td>
      <td>締め日<%= @last_day.to_s(:date) %></td>
    </tr>
  </table>
  <table class="table-bordered table-striped table-condensed">
    <thead>
    <tr>
      <td rowspan="3">残業申請</td>
      <td rowspan="3">日付</td>
      <td rowspan="3">曜日</td>
      <td colspan="8">【実績】</td>
      <td colspan="5">所定外勤務</td>
    </tr>
    <tr>
      <td colspan="3">出社</td>
      <td colspan="3">退社</td>
      <td rowspan="2">在社時間</td>
      <td rowspan="2">備考</td>
      <td colspan="2">終了予定時間</td>
      <td rowspan="2">時間外時間</td>
      <td rowspan="2">業務処理内容</td>
      <td rowspan="2">指示者確認㊞</td>
    </tr>
    <tr>
      <td>時</td>
      <td>分</td>
      <td></td>
      <td>時</td>
      <td>分</td>
      <td></td>
      <td>時</td>
      <td>分</td>
    </tr>
    <%= link_to "【所属長承認認証のお知らせ】","#",class: "btn btn-primary" %><br>
    <%= link_to "【勤怠変更申請のお知らせ】","#",class: "btn btn-primary" %><br>
    <% count_at_overwork = Attendance.where(overcheker: @user.name,  overworkcheck: nil).count %>
    <% count_at_overwork1 = Attendance.where(overcheker: @user.name,  overworkcheck: "0").count %>
    <% count_at_overwork2 = Attendance.where(overcheker: @user.name,  overworkcheck: "1",  overconfirmation: "申請中").count %>
    <% count_at_overwork3 = Attendance.where(overcheker: @user.name,  overworkcheck: "1",  overconfirmation: "").count %>
    <% count_at_overwork_sum = count_at_overwork + count_at_overwork1 + count_at_overwork2 + count_at_overwork3 %>
    <% if count_at_overwork_sum > 0 %>
    <%= link_to "【残業申請のお知らせ】",edit_work_path(@user), remote: true, class: "color2"  %>
    <% else %>
    <%= link_to "【残業申請のお知らせ】",edit_work_path(@user), remote: true, class: "color1" %>
    <% end %>
    <% if count_at_overwork_sum > 0 %>
    <span style="color:#ff0000;"><%= count_at_overwork_sum %>件の通知があります。</span>
    <% end %>
    <br>
    <div id="edit_work" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
    </thead>
    <%= link_to "勤怠を編集", edit_attendances_path(@user, @first_day), class: "btn btn-primary" %>
    <%= link_to "CSV出力", user_path(@user, params:{first_day: @first_day },format: :csv), class: "btn btn-primary" %><br>
    <%= link_to "勤怠修正ログ(承認済)","#" , class: "btn btn-primary" %>
    <tbody>
      <% @dates.each_with_index do |day , i| %>
      <tr>
        <td>
        <%= link_to "残業申請", edit_overwork_user_attendance_path(@user,day), remote: true, class: "btn btn-primary" %>
        <div id="edit_overwork" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
        <td><%= day.worked_on.to_s(:date) %></td>
        <td><% if day.worked_on.wday == 0 %>
              <span style="color:#ff0000;">日</span>
            <% elsif day.worked_on.wday == 6 %>
              <span style="color:blue;">土</span>
            <% else %>
              <%= %w{日 月 火 水 木 金 土} [day.worked_on.wday] %>
            <% end%>
                    </td>
        <td><%= day.started_at.to_s(:hour) if day.started_at.present? %></td>
        <td><%= day.started_at.floor_to(60*15).to_s(:min) if day.started_at.present? %></td>
        <td>
          <% if day.worked_on == Date.today && day.started_at.nil? %>
            <%= button_to "出社", user_attendances_path(@user), class: "btn btn-xs btn-primary" %>
          <% end %>
        </td>
        <td><%= day.finished_at.to_s(:hour) if day.finished_at.present? %></td>
        <td><%= day.finished_at.floor_to(60*15).to_s(:min) if day.finished_at.present? %></td>
        <td>
          <% if day.worked_on == Date.today && day.started_at.present? && day.finished_at.nil? %>
            <%= button_to "退社", user_attendances_path(@user), class: "btn btn-xs btn-primary" %>
          <% end %>
        </td>
        <td>
          <% if day.started_at.present? && day.finished_at.present? %>
          <%= working_times(day.started_at.floor_to(60*15), day.finished_at.floor_to(60*15)) %>
          <% seconds = (day.finished_at - day.started_at).to_i %>
          <% @total_seconds = @total_seconds.to_i + seconds %>
        <% end %>
        </td>
        <td><%= day.note %></td>
        <td><%= day.overworkfinished_at.to_s(:hour) if day.overworkfinished_at.present? %></td><!-- 仮置きここから　-->
        <td><%= day.overworkfinished_at.to_s(:min) if day.overworkfinished_at.present? %></td>
        <td>
            <% if day.overworkfinished_at.present? %>
              <% overwork =  (@user.designated_work_end_time.to_s(:hour) + @user.designated_work_end_time.to_s(:min)).to_i %>
              <% overwork2 = (day.overworkfinished_at.to_s(:hour) + day.overworkfinished_at.to_s(:min)).to_i %>
              <% if day.overcheck == "0" %>
                <%= overwork_sum = ((overwork2 - overwork) /100.0).to_s %>
              <% else %>
                <%= overwork_sum = (((overwork2 + 2400 ) - overwork) /100.0).to_s %>
              <% end %>
            <% end %></td>
                              
        <td><%= day.overwork_note %></td>
        <td><!-- 残業 --><%= if day.overworkfinished_at.present? && day.overcheker.present? && day.overworkcheck == "0"
                              '残業申請中'
                            elsif day.overworkfinished_at.present? && day.overcheker.present? && day.overworkcheck.nil?
                              '残業申請中'
                            elsif day.overworkfinished_at.present? && day.overworkcheck == "1" && day.overconfirmation == ""
                              '残業申請中'
                            elsif day.overworkfinished_at.present? && day.overworkcheck == "1" && day.overconfirmation == "申請中"
                              '残業申請中'
                            elsif day.overworkfinished_at.present? && day.overworkcheck == "1" && day.overconfirmation == "承認"
                              '残業申請申請済'
                            elsif day.overworkfinished_at.present? && day.overworkcheck == "1" && day.overconfirmation == "否認"
                              '残業申請否認'
                            else
                              ''
                            end %> 
            <!-- 勤怠編集-->
            
            </td><!-- ここまで -->
      </tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <td colspan = "2">総合勤務時間 <%= format_basic_time(@user.basic_work_time).to_f * @worked_sum %></td>
        <td colspan = "6"></td>
        <td></td>
        <td>在社時間合計:<%= working_times_sum(@total_seconds) unless @total_seconds.nil? %></td>
        <td colspan = "5"></td>
        <td>所属長承認</td>
      </tr>
    </tfoot>
    </table>
</div>
